#code-cell {
  display: flex;
  height: 80%;
}

#code-console {
  height: 20%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid #37414b;
}

#code-console * {
  background: #202124;
}
